Repository KevinNicolasLeguiza/deploy-test: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "npx prettier --write",
    "npx eslint --fix"
  ],
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{js,css,md}": "prettier --write"
}

chore: add svgs
  public/home-carousel/carousel-image-1.svg
  public/icons/clarity_store-solid.svg
  public/icons/material-symbols_point-of-sale-rounded.svg
  public/icons/mdi_fruit-watermelon.svg
  public/icons/ph_carrot-fill.svg
Due: none

style: add 'gold' color
  src/sass/bootstrap.scss
Due: none

feat: buy process -- home view
  src/components/Cards/Category-card/CategoryCard.tsx
  src/components/Cards/index.ts
  src/components/Carousels/Home-carousel/HomeCarousel.tsx
  src/components/Carousels/index.ts
  src/components/Footers/Home-footer/HomeFooter.tsx
  src/components/Footers/index.ts
  src/components/Layout/Header/Header.tsx
  src/components/Layout/Navbar/Navbar.tsx
  src/components/Layout/Search-bar/SearchBar.tsx
  src/components/Layout/index.ts
  src/components/index.ts
  src/views/Home/Home.tsx
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix

refactor: remove unnecessary component
  src/components/Layout/Navbar/Navbar.tsx
  src/components/Layout/index.ts
  src/views/Home/Home.tsx
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix

refactor: move 'product-card' into 'cards' category
  src/components/Cards/Product-card/ProductCard.module.css
  src/components/Cards/Product-card/ProductCard.tsx
  src/components/Cards/index.ts
  src/components/Product-cards/index.ts
  src/components/index.ts
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix, prettier --write

feat: 'my basket' view
  public/icons/ExclamationCircle.svg
  public/icons/sale-icon.svg
  src/components/Cards/Horizontal-product-card/HorizontalProductCard.tsx
  src/components/Cards/index.ts
  src/components/Footers/My-basket-footer/MyBasketFooter.tsx
  src/components/Footers/index.ts
  src/components/Modals/Finalize-purchase-modal/FinalizePurchaseModal.tsx
  src/components/Modals/Welcome-modal/WelcomeModal.tsx
  src/components/Modals/index.ts
  src/routes.tsx
  src/views/Home/Home.tsx
  src/views/My-basket/MyBasket.tsx
  src/views/Workspace/Workspace.tsx
  src/views/index.ts
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix

feat: 'delivery data' view
  src/components/Footers/Purchase-flow-footer/PurchaseFlowFooter.tsx
  src/components/Footers/index.ts
  src/routes.tsx
  src/views/Delivary-data/DeliveryData.tsx
  src/views/My-basket/MyBasket.tsx
  src/views/index.ts
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix

fix: sidebar z-index
  src/components/Cards/Horizontal-product-card/HorizontalProductCard.tsx
  src/components/Layout/Header/Header.tsx
  src/components/Layout/Sidebar/Sidebar.tsx
  src/components/Layout/Sidebar/SidebarButton.tsx
  src/components/Layout/index.ts
  src/views/Delivary-data/DeliveryData.tsx
  src/views/Home/Home.tsx
  src/views/My-basket/MyBasket.tsx
  src/views/Workspace/Workspace.tsx
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix

feat: 'payment method' view
  public/icons/card-icon.svg
  public/icons/mercadopago-icon.svg
  public/icons/modo-icon.svg
  public/icons/money-icon.svg
  src/components/Lists/Payment-methods-list/PaymentMethodsList.tsx
  src/components/Lists/Payment-summary-list/PaymentSummaryList.tsx
  src/components/Lists/index.ts
  src/components/index.ts
  src/routes.tsx
  src/views/My-basket/MyBasket.tsx
  src/views/Payment-methods/PaymentMethods.tsx
  src/views/index.ts
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix

feat: 'order placed' view
  public/icons/confused-face.svg
  public/icons/happy-face.svg
  public/icons/sad-face.svg
  src/components/Buttons/Online-help-button/OnlineHelpButton.tsx
  src/components/Buttons/View-detail-button/ViewDetailButton.tsx
  src/components/Buttons/index.ts
  src/components/Lists/Experience-using-app-list/ExperienceUsingAppList.tsx
  src/components/Lists/index.ts
  src/components/index.ts
  src/routes.tsx
  src/views/Order-placed/OrderPlaced.tsx
  src/views/index.ts
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix

refactor: order views by process
  src/views/Buy-process/Delivary-data/DeliveryData.tsx
  src/views/Buy-process/Home/Home.tsx
  src/views/Buy-process/My-basket/MyBasket.tsx
  src/views/Buy-process/Order-placed/OrderPlaced.tsx
  src/views/Buy-process/Payment-methods/PaymentMethods.tsx
  src/views/Buy-process/index.ts
  src/views/index.ts
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix

feat: 'account information' view
  public/icons/invoice-icon.svg
  public/icons/location-icon.svg
  public/icons/user-ico.svg
  src/components/Lists/Account-info-options-list/AccountInfoOptionsList.tsx
  src/components/Lists/index.ts
  src/routes.tsx
  src/views/My-account/Account-info/AccountInfo.tsx
  src/views/My-account/index.ts
  src/views/index.ts
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix

chore: add recommended extensions
  .vscode/extensions.json
Due: none

feat: 'personal information' view
  public/icons/calendar-icon.svg
  public/icons/edit-icon.svg
  public/icons/phone-icon.svg
  src/components/Forms/Personal-information-form/PersonalInformationForm.module.css
  src/components/Forms/Personal-information-form/PersonalInformationForm.tsx
  src/components/Forms/Personal-information-form/PersonalInformationFormActive.tsx
  src/components/Forms/index.ts
  src/components/index.ts
  src/routes.tsx
  src/views/Buy-process/Delivery-data/DeliveryData.tsx
  src/views/Buy-process/index.ts
  src/views/My-account/My-personal-information-active/MyPersonalInformationActive.tsx
  src/views/My-account/My-personal-information/My-Personal-Information.tsx
  src/views/My-account/index.ts
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix, prettier --write

feat: 'my invoice information' view
  src/components/Buttons/Edit-button/EditButton.tsx
  src/components/Buttons/Edit-button/EditButtonActive.tsx
  src/components/Buttons/index.ts
  src/components/Forms/Invoice-information-form/InvoiceInformationForm.tsx
  src/components/Forms/Invoice-information-form/InvoiceInformationFormActive.tsx
  src/components/Forms/Personal-information-form/PersonalInformationForm.module.css
  src/components/Forms/Personal-information-form/PersonalInformationFormActive.tsx
  src/components/Forms/index.ts
  src/routes.tsx
  src/sass/main.scss
  src/views/My-account/My-invoice-information/MyInvoiceInformation.tsx
  src/views/My-account/My-invoice-information/MyInvoiceInformationActive.tsx
  src/views/My-account/My-personal-information/MyPersonalInformationActive.tsx
  src/views/My-account/index.ts
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix, prettier --write

feat: 'my addresses' view
  src/components/Cards/Address-card/AddressCard.tsx
  src/components/Cards/index.ts
  src/routes.tsx
  src/views/My-account/My-addresses/MyAddresses.tsx
  src/views/My-account/index.ts
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix

feat: 'my address information' view
  public/icons/location-solid-icon.svg
  src/components/Footers/Edit-controls-footer/EditControlsFooter.tsx
  src/components/Footers/index.ts
  src/components/Forms/Address-information-form/AddressInformationForm.tsx
  src/components/Forms/Address-information-form/AddressInformationFormActive.tsx
  src/components/Forms/index.ts
  src/routes.tsx
  src/views/My-account/My-address-information/MyAddressInformation.tsx
  src/views/My-account/My-address-information/MyAddressInformationActive.tsx
  src/views/My-account/index.ts
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix

feat: 'new address' view
  src/routes.tsx
  src/views/My-account/New-address/NewAddress.tsx
  src/views/My-account/index.ts
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix

feat: github action workflowOF
  .github/workflows/deploy.yml
  vite.config.ts
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix

chore: add permissions
  .github/workflows/deploy.yml
Due: none

chore: add basename
  src/router.tsx
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix

Deploying to gh-pages from @ KevinNicolasLeguiza/deploy-test@d6987435b733dce7122d0360c90bed48e4b1f4e2 🚀
  assets/index-p1eYZ0UV.js
  index.html
Due: npx prettier --write, npx eslint --fix, prettier --write

fix: change 'process' -> 'import.meta'
  src/router.tsx
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix

Deploying to gh-pages from @ KevinNicolasLeguiza/deploy-test@74fbc3ba627140427e071de139946fb7fcb32295 🚀
  assets/index-d0KAODqJ.js
  index.html
Due: npx prettier --write, npx eslint --fix, prettier --write

chore: vite config
  vite.config.ts
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix

Deploying to gh-pages from @ KevinNicolasLeguiza/deploy-test@3c8f96bbd799cbfd0265fee5d2b0c6979bd4c045 🚀
  assets/index-bC8zqXHy.js
  index.html
Due: npx prettier --write, npx eslint --fix, prettier --write

chore: dummy
  src/routes.tsx
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix

Deploying to gh-pages from @ KevinNicolasLeguiza/deploy-test@47e159539ae55f5bd3ff7f5ea230548b45e59421 🚀
  assets/index-B9vuHs-V.js
  index.html
Due: npx prettier --write, npx eslint --fix, prettier --write

chore: dummy
  vite.config.ts
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix

Deploying to gh-pages from @ KevinNicolasLeguiza/deploy-test@e3f4544c46d05f1724a22b6e0689d3e0a0d1729d 🚀
  assets/index-vnvD88xv.js
  index.html
Due: npx prettier --write, npx eslint --fix, prettier --write

chore: dummy
  index.html
  src/routes.tsx
  vite.config.ts
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix

Deploying to gh-pages from @ KevinNicolasLeguiza/deploy-test@4bc8ecd80925e275a306de1848a251cd3102e9ab 🚀
  assets/index-v5wFOEbg.js
  assets/index-vnvD88xv.js
  index.html
Due: npx prettier --write, npx eslint --fix, prettier --write

chore: dummy
  src/App.tsx
  src/router.tsx
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix

Deploying to gh-pages from @ KevinNicolasLeguiza/deploy-test@1399052cf2a213070dcfb3839f04e2796fa403e9 🚀
  assets/index-cEN1BlWP.js
  assets/index-v5wFOEbg.js
  index.html
Due: npx prettier --write, npx eslint --fix, prettier --write

chore: dummy2
  index.html
  src/components/Buttons/Edit-button/EditButton.tsx
  src/components/Buttons/Edit-button/EditButtonActive.tsx
  src/components/Buttons/Online-help-button/OnlineHelpButton.tsx
  src/components/Buttons/View-detail-button/ViewDetailButton.tsx
  src/components/Cards/Address-card/AddressCard.tsx
  src/components/Cards/Category-card/CategoryCard.tsx
  src/components/Carousels/Home-carousel/HomeCarousel.tsx
  src/components/Forms/Address-information-form/AddressInformationForm.tsx
  src/components/Forms/Address-information-form/AddressInformationFormActive.tsx
  src/components/Forms/Invoice-information-form/InvoiceInformationForm.tsx
  src/components/Forms/Invoice-information-form/InvoiceInformationFormActive.tsx
  src/components/Forms/Personal-information-form/PersonalInformationForm.tsx
  src/components/Forms/Personal-information-form/PersonalInformationFormActive.tsx
  src/components/Layout/Search-bar/SearchBar.tsx
  src/components/Layout/Sidebar/SidebarButton.tsx
  src/components/Lists/Account-info-options-list/AccountInfoOptionsList.tsx
  src/components/Lists/Experience-using-app-list/ExperienceUsingAppList.tsx
  src/components/Lists/Payment-methods-list/PaymentMethodsList.tsx
  src/components/Modals/Finalize-purchase-modal/FinalizePurchaseModal.tsx
  src/router.tsx
  src/views/Buy-process/Delivery-data/DeliveryData.tsx
  src/views/Buy-process/Home/Home.tsx
  src/views/Buy-process/My-basket/MyBasket.tsx
  src/views/Buy-process/Order-placed/OrderPlaced.tsx
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix

Deploying to gh-pages from @ KevinNicolasLeguiza/deploy-test@288ff8a6f576f1e51045665d5bb10a9dff147f69 🚀
  assets/index-oJvnrDEa.js
  index.html
Due: npx prettier --write, npx eslint --fix, prettier --write

chore: dummy2
  src/components/Layout/Sidebar/Sidebar.tsx
  src/router.tsx
  src/sass/bootstrap.scss
  vite.config.ts
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix

Deploying to gh-pages from @ KevinNicolasLeguiza/deploy-test@f0153978cb04a513aba27ad46f473ea05a65bdf2 🚀
  assets/index-oJvnrDEa.js
  assets/index-vRQuvo1K.js
  index.html
Due: npx prettier --write, npx eslint --fix, prettier --write

chore: dummy2
  src/assets/home-carousel/carousel-image-1.svg
  src/assets/icons/ExclamationCircle.svg
  src/assets/icons/calendar-icon.svg
  src/assets/icons/card-icon.svg
  src/assets/icons/clarity_store-solid.svg
  src/assets/icons/confused-face.svg
  src/assets/icons/edit-icon.svg
  src/assets/icons/happy-face.svg
  src/assets/icons/invoice-icon.svg
  src/assets/icons/location-icon.svg
  src/assets/icons/location-solid-icon.svg
  src/assets/icons/material-symbols_point-of-sale-rounded.svg
  src/assets/icons/mdi_fruit-watermelon.svg
  src/assets/icons/mercadopago-icon.svg
  src/assets/icons/modo-icon.svg
  src/assets/icons/money-icon.svg
  src/assets/icons/ph_carrot-fill.svg
  src/assets/icons/phone-icon.svg
  src/assets/icons/sad-face.svg
  src/assets/icons/sale-icon.svg
  src/assets/icons/user-ico.svg
  src/components/Buttons/Edit-button/EditButton.tsx
  src/components/Layout/Sidebar/Sidebar.tsx
Due: npx prettier --write, npx eslint --fix, eslint --cache --fix
